<!DOCTYPE HTML>
<html>

<head>
    <title>Spotify Song Recommendation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% assets "all_css" %}
    <link rel="stylesheet" type=text/css href="{{ ASSET_URL }}" />
    {% endassets %}
</head>


<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Section -->
        <section class="intro">
            <header>
                <h1>Recs</h1>
            </header>
            <div class="content">
                <br>
                <p> Compare your input song...</p>
                <iframe id="myIframe1" style="border-radius:12px" src="" width="100%" height="80" frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <script>
                    document.getElementById("myIframe1").src =
                        "https://open.spotify.com/embed/track/" + '{{ input_id }}' + "?utm_source=generator"
                </script>
                <br>
                <br>
                <p> ...to our top reccommendations based on spotify's musical metrics. More information on these metrics found below.</p>
                <iframe id="myIframe2" style="border-radius:12px" src="" width="100%" height="80" frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <script>
                    document.getElementById("myIframe2").src =
                        "https://open.spotify.com/embed/track/" + '{{ rec1 }}' + "?utm_source=generator"
                </script>
                <br>
                <br>
                <iframe id="myIframe3" style="border-radius:12px" src="" width="100%" height="80" frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <script>
                    document.getElementById("myIframe3").src =
                        "https://open.spotify.com/embed/track/" + '{{ rec2 }}' + "?utm_source=generator"
                </script>
                <br>
                <br>
                <iframe id="myIframe4" style="border-radius:12px" src="" width="100%" height="80" frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <script>
                    document.getElementById("myIframe4").src =
                        "https://open.spotify.com/embed/track/" + '{{ rec3 }}' + "?utm_source=generator"
                </script>
                <br>
                <br>
                <iframe id="myIframe5" style="border-radius:12px" src="" width="100%" height="80" frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <script>
                    document.getElementById("myIframe5").src =
                        "https://open.spotify.com/embed/track/" + '{{ rec4 }}' + "?utm_source=generator"
                </script>
                <br>
                <br>
                <p><strong>Section to explain danceability, etc</strong></p>
                <ul class="actions">
                    <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
                </ul>
            </div>
        </section>
       
    <!-- Scripts -->
    {% assets "all_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

</body>

</html>